.users-filter {
    //margin-bottom: 15px;
    padding: 15px 0px 20px;
    &__label {
        width: 100%;
        text-align: center;
    }
}


@media only screen and (min-width: 1680px) {
    .users-filter {
        &__container {
            width: 75%;
            margin: 0 auto;
        }
    }
}
