<label class="title">
    How do I feel today?</label>
<div class="container">
    <app-mood class="selectedMood" [name]="selectedMood"></app-mood>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div class="message">
            <div class="inputs">
                <label class="hint">Wanna share what's on your mind?</label>
                <div class="checkbox">
                    <input class="input-checkbox" type="checkbox" id="anonymous-checkbox" formControlName="anonymous">
                    <label class="label-checkbox" for="anonymous-checkbox">
                        Send anonymous
                    </label>
                </div>
            </div>
            <textarea class="user-text" formControlName="message" #message maxlength="500" placeholder="(Don't worry, only HR will be able to see your comment)"></textarea>
        </div>
        <div id="counter">{{message.value.length}} / 500</div>
        <button type="submit" class="submit-button" [disabled]="loading">
            <span class="submit-message" [hidden]="loading">Send</span>
            <img class="loading" [hidden]="!loading" src="assets/loading.svg" alt="loading">
        </button>
    </form>
</div>
