.datepicker {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    &__form-group {
        margin-bottom: 10px;
    }

    &__label {
        margin-right: 10px;
        min-width: 50px;
        text-align: right;
    }

    &__dateinput {
        width: 200px;
        display: inline-block;
        outline: none;
        text-decoration: none;

        &:focus,
        &:active {
            outline: none !important;
            box-shadow: none;
        }
    }
}

@media only screen and (max-width: 1150px) {
    .datepicker {
        justify-content: center;
    }
}

