<div class="container-wrapper">
  <div class="dropdown-caret">
    <span class="caret-outer"></span>
    <span class="caret-inner"></span>
  </div>
  <div class="container">
    <div class="info noselect" *ngFor="let notification of notifications;let i = index" (click)="updateUnreadList(i)" routerLink="/kudos">

      <p class="info__date">{{ notification.date | date: 'dd-MM-yyyy' }}</p>
      <p class="info__name">You have a new kudo from <strong>{{ notification.from }}:</strong></p>
      <p class="info__text">"{{ notification.text }}"</p>

      <div class="see-kudos">
        <img src="assets/images/kudos.svg" alt="kudos" style="height:auto; width: 15px;">
        <a routerLink="/kudos">
          See all kudos</a>
      </div>
    </div>
  </div>
</div>
